<style>
.card {
    width: 100%;
    height: auto;
    color: beige;
    background-color: #714d22;
}
.card-img-top {
    width:100%;
    height:100%;
}

.card-text {
    white-space:wrap;
    font-size: smaller;
}

.card-title {
    font-size: medium;
}

.col.info {
    white-space: nowrap;
    padding-left: 5    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>px;
    padding-right 0px;
</style>
<!-- Products Index View with Cards -->
<style>
.card {
    width: 100%;
    height: auto;
    color: beige;
    background-color: #714d22;
}
.card-img-top {
    width: 100%;
    height: 100%;
}

.card-text {
    white-space: wrap;
    font-size: smaller;
}

.card-title {
    font-size: medium;
}

.col.info {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 0px;
}
</style>

<h1>All Products</h1>
<div class="row row-cols-xl-4 row-cols-md-3 row-cols-2 g-3">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card">
        <img src="https://digital.kenyon.edu/baly/1756/preview.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/products/<%= product.id %>">
              <%= product.title %>
            </a>
          </h5>
          <div class="card-text container text-center">
            <div class="row align-items-end">
              <div class="col info">
	              Price: $<%= "%.2f" % product.price %>
              </div>
              <div class="col info">
                <%= product.stock %> remaining
              </div>
            </div>
            <!-- Add to Cart Form -->
            <%= form_with url: cart_items_path, local: true do |form| %>
              <%= form.hidden_field :product_id, value: product.id %>
              <%= form.number_field :quantity, value: 1, min: 1, class: 'form-control-sm' %>
              <%= form.submit "Add to Cart", class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  // Ensure the active link is highlighted in the navigation
  var rm = document.querySelector(".active");
  rm.classList.remove("active");
  var add = document.getElementById("productsLink");
  add.classList.add("active");
</script>
