    <style>
        .review-star {
            color: #a3a29d;
            font-size: 37px;
            cursor: pointer;
        }
        .review-star:hover,
        .review-star.active,
        .fixed-star.active {
            color: #f4bb00;
        }
        .text-background {
            background-color: #69603f;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .product-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        .price {
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 20px; /* Add margin between image and price */
        }
        .stock {
            font-size: 1.2rem;
            color: #f4ca34;
        }
        .flex-container {
            display: flex;
            align-items: center; /* Center items vertically */
        }
     .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        }
        h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .product {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .product:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product img {
        max-width: 100%;
        height: auto;
    }

    .product-details {
        display: none;
    }

    .product.active .product-details {
        display: block;
    }

    .toast.show {
      box-shadow: none;
      width: 6in;
      margin: 5px;
    }

    .info {
    margin-left: .25in;
    }
    .starsection {
      margin-right: 1.5in;
      font-size: 5pt;
    }
    .fixed-star {
      font-size: 20pt;
    }
    .btn.enter {
      background-color: #5e5022;
      margin-top: .25in;
    }
    .btn.enter:hover {
      background-color: #f4ca34;
    }
    .backdrop {
      background-color: #dadada45;
      color: #5e5022;
      padding: .25in;
      margin-top: .25in;
    }
    .edit {
      margin-left: 2in;
      background-color: cornsilk;
      padding: .25in;
    }
    .btn.btn-warning {
      color: #524224;
    }
    .btn.btn-warning:hover {
      color: #8a8a8a;
    }
    a.samplelink {
      color: #fac823;
    }
    a.samplelink:hover {
      color: #342f1f;
    }
    </style>
    <div class="container">
        <h1><%= @product.title %> </h1>
        <p><%= @product.desc %> </p>

        <div class="flex-container">
            <%= image_tag @product.getimage, alt:"Product Image", class:"product-image", height:"500", width:"500" %>
            <div class="info">
                <p class="price"> $<%= "%.2f" % @product.price %> </p>
                <p class="stock"> <%= @product.stock %> remaining </p>
                 <button class="btn btn-primary">Add to Cart</button>
            </div>
            <% if user_signed_in? == false %>
            <% else %>
            <% if current_user.id == @product.user_id or current_user.account_type == "a"%>
            <div class="edit rounded-2">
              <% if current_user.account_type == "s" %>
	      This product was created by you
              <% elsif current_user.account_type == "a" %>
              You have admin access to this item
              <% end %>
	      <div class="row editbuttons">
	        <div class="col">
	          <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
	        </div>
	        <div class="col">
	          <%= link_to "Delete", product_path(@product), class: "btn btn-danger", data:{
                        turbo_method: :delete,
                        turbo_confirm: "Remove permanently" } %>
	        </div>
              </div>    
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="container">
        <h1>More Products</h1>
        <div class="row">
        <% @sample.each do |s| %>
            <div class="col-md-3">
                <div class="product" onclick="toggleDetails(this)">
                    <%= image_tag s.getimage, alt: "Other Product", width:300, class: "rounded-1" %>
                    <h3><%= s.title %></h3>
                    <div class="row justify-content-between">
                      <div class="col-4"> $<%= "%.2f" % s.price %>  </div>
                      <div class="col-4"> <%= link_to "View", product_path(s), class: "samplelink" %> </div>
                    </div>
                    <div class="product-details">
                        <p> <%= s.desc[0..40]+"..." %></p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>            
        <% end %>
        </div>
    </div>

<!--The following elements are stored in conditionals-->
<!-- Before we do that, we establish some boolean variables-->
<% reviewed = (@reviews.length > 0) %>
<% logged_in = (user_signed_in? and current_user.account_type == "b") %>
<div class="container">
<% if reviewed %>
        <h2>Reviews for Scientific Calculator</h2>
        <div class="toast-container position-static">
        <% @reviews.each do |review| %>
          <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <!--<img src="..." class="rounded me-2" alt="...">-->
              <strong class="me-auto"> 
                <%= review.reviewer %>
              </strong>
              <span class='starsection' >
              <% s=review.stars %>
	      <% for i in 1..5 %>
                <% if i <= s %>
                <span class="fixed-star active">&#9733;</span>
                <% else %>
                <span class="fixed-star">&#9733;</span>
                <% end %>
              <% end %>
              </span>
              <!-- Now we format the time -->
              <% days=((Time.current - review.created_at)/1.day).round %>
              <% hours=((Time.current - review.created_at)/1.hour).round %>
              <% minutes=((Time.current - review.created_at)/1.minute).round %>
              <% if days != 0 %>
                <small> <%= days %> days ago</small>
              <% elsif hours != 0 %>
                <small> <%= hours %> hours ago</small>
              <% elsif minutes != 0 %>
                <small> <%= minutes %> min ago</small>
              <% else %>
                <small> just now </small>
              <% end %> 
            </div>
            <div class="toast-body">
              <%= review.content %>
            </div>
          </div>
        <% end %>
        </div>
<% end %>   
<% if logged_in %>
     <div class="backdrop rounded-2">     
        <h2>Tell us about the product</h2>
        
        <h4>Add a Review:</h4>
        <%= form_with model: [ @product, @product.reviews.build ] do |form| %>
          <div class="field">
            <input class="hidden" name="review[reviewer]" value="<%= current_user.firstname %> <%= current_user.lastname %>" > 
            <input class="hidden" name="review[stars]" value id="starInput">
            <%= form.hidden :user_id, value: current_user.id %> 
          </div>  
             <p>
                <label for="rating">Rating:</label><br>
                <!-- Use stars for ratings -->
                <span class="review-star">&#9733;</span>
                <span class="review-star">&#9733;</span>
                <span class="review-star">&#9733;</span>
                <span class="review-star">&#9733;</span>
                <span class="review-star">&#9733;</span>
            </p>
            <div class="form-floating field" >
               <%= form.text_field :content, class: "form-control", id: "content", placeholder: "I loved it"%> 
               <label for="content" > What would you like to say? </label>
            </div>
            <div class="actions">
                <%= form.submit "Submit", class: "btn btn-outline-warning enter" %>
            </p>
        <% end %>
     </div>
<% end %>
</div>
</body>
<script>
   const stars = document.querySelectorAll('.review-star');
   const starform=document.getElementById('starInput')

stars.forEach(star => {
    star.addEventListener('click', () => {
        toggleStars(star);
        starform.value=countStars();
    });
});

function toggleStars(clickedStar) {
    const clickedIndex = Array.from(stars).indexOf(clickedStar);

    stars.forEach((star, index) => {
        if (index <= clickedIndex) {
            star.classList.add('active');
        } else {
            star.classList.remove('active');
        }
    });
}

function toggleDetails(element) {
    element.classList.toggle('active');
}

function countStars() {
    return document.querySelectorAll(".review-star.active").length
}

changeNavSelect("productsLink")


</script> 
