

<style>
  .container {
    background-color: #c8970082;
    height: 100%;
    padding: .5in
  }
  .logo-img {
    height: 220px;
    width: auto; 
  }
  .header {
    background-color: #00000040;
  }
  .col {
    height: 2.5in;
    align-content: center;
  }
  p {
    font-size: larger;
  }
  hr {
    color: black;
    outline-style: solid;
  }
  .product {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .sampleimage {
    width: 100%;
  }
  .product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .product img {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    display: none;
  }

  .product.active .product-details {
    display: block;
  }
</style

<div class="backdrop">
    <div class="row header rounded-2 align-items-start">
      <div class="col logoplace">
        <%= image_tag @brand.getimage, class: "logo-img rounded-1" %> 
      </div>
      <div class="col titleplace">
        <h1 class="display-1"> <%= @brand.name %> </h1>
      </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <p>
               <%= @brand.desc %>
            </p>
            <hr> 
        </div>
    </div>
    <div>
      <div class="row">
      <% @sample.each do |s| %>
        <div class="col-md-3">
          <div class="product" onclick="toggleDetails(this)">
            <%= image_tag s.getimage, alt: "Other Product", class: "rounded-1 sampleimage" %>
            <h3><%= s.title %></h3>
            <div class="row justify-content-between">
              <div class="col-4"> $<%= "%.2f" % s.price %>  </div>
              <div class="col-4"> <%= link_to "View", product_path(s), class: "samplelink" %> </div>
            </div>
            <div class="product-details"
              <p> <%= s.desc[0..40]+"..." %></p>
              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>

<script>
  changeNavSelect("brandsLink")
  function toggleDetails(element) {
    element.classList.toggle('active');
  }
</script>
