<head>
    <meta charset="UTF-8">
    <title>Sample Nav</title>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= yield :head %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
  <style>
    html {
      background: linear-gradient(to right, #f0dc8d,#3a3945);
    }

    body {
      font-family: "Helvetica Neue", Helvetica;
      background: linear-gradient(to right, #f0dc8d,#3a3945);
      
    }
    .navbar {
        font-weight: 500;
        background: linear-gradient(to right, #ad9f66,black);
    }
    .nav-item {
       align-self:center;
    }
    .nav-text {
        color: #fac823;
        text-align: center;
    }
    .show ul li.nav-item, .collapsing li.nav-item {
      align-self: start;
    }
    .nav-link.active.nav-text {
      color: #5f5122;
    }
    .navbar-toggler {
      background-color: #69603f;
    }

    .navbar-brand {
      text-align: center;
      /*background:linear-gradient(to right,black,white);*/ 
      padding: 0px;
      height:53px;
      width:auto;
    }

    .d-flex {
      margin-bottom: 0px;
    }

    .btn {
      color: #f4ca34;
      outline-color: #f6f6f6;
    }

    .show .account-button, .collapsing .account-button {
      margin-top: 10px;
      color: #5f5122;
    }

    .dropdown-menu {
      width:100%;
      align-self: self-start;
      background-color: #1f1e24;
      outline-color: #f4ca34;
      outline-width: 2px;
      width: 2in;
    }

    .dropdown-item {
      color: #f4ca34;
    }
    
    .hidden {
      display: none;
    }

  </style>

  <script>
    function adjustDropdown(w) {
      var dropdown=document.querySelector(".dropdown-menu")
      if (w < 992) {
        dropdown.classList.remove("dropdown-menu-end");
        dropdown.classList.add("dropdown-menu-start");
      }
      else {
        dropdown.classList.remove("dropdown-menu-start");
        dropdown.classList.add("dropdown-menu-end");
      }  
    }
    function changeNavSelect(id) {
      rm=document.querySelector(".active");
      rm.classList.remove("active");
      add=document.getElementById(id);
      add.classList.add("active");
    };
  </script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= image_tag "logo_no_text", class: "navbar-brand rounded-2" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nav-text" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/brands" id="brandsLink">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/products" id="productsLink">Products</a>
        </li>
      <% if user_signed_in? and ["s","a"].include? current_user.account_type %>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/products/new" id="newProductsLink"> Add Product </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/brands/new" id="newBrandsLink"> Add Brand </a>
        </li>
      <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning me-3" type="submit">Search</button>
      </form>
      <div class="dropdown nav-item">
        <button type="button" class="dropdown-toggle btn btn-outline-warning me-1 account-button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if user_signed_in? %>
            <li><a class="dropdown-item acct-ctr" href="/users/info"> Account </a></li>
            <li><%= link_to "Log Out",destroy_user_session_path, method: :delete, class: "dropdown-item acct-ctr" %></li>
            <% else %>
            <li><a class="dropdown-item acct-ctr" href="/users/sign_in"> Log In </a></li>
            <li><a class="dropdown-item acct-ctr" href="/users/sign_up"> Sign Up </a></li>
            <% end %>
          </ul>
      </div>
      <li class="nav-item">

          <a class="nav-link" href="<%= cart_path %>">
            <i class="fas fa-shopping-cart"></i> (<%= cart_count %>)
          </a>
        </li>

    </div>
  </div>
</nav>
<script>
  var startingwidth=window.innerWidth;
  adjustDropdown(startingwidth);
  window.addEventListener("resize", function(e) {
    var w=window.innerWidth;
    adjustDropdown(w)
    if (w > 991) {
      document.querySelector(".navbar-collapse").classList.remove("show")
    }
  })
</script>
  <body>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
