<style>
    html {
    position:relative;
  }

  .backdrop * {
    color: #5e5022;  
  }

  .lead.title {
    font-size: xx-large;
    letter-spacing: -1pt;
    margin-bottom: 20px;
  }

  .backdrop {
    background-color: #b79b2d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2in;
    margin-bottom: 6in;
    padding-bottom: .25in;
    padding-top: .25in;
    width: 6in;
  }

  .form-check {
    text-align: left;
    margin-left:10%;
    padding-bottom: 10px;
  }

  .form-floating {
    width: 80%;
    max-width: 6in;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    margin-bottom: 5%;
  }
  .row label {
    margin-left: 3%;
  }

  .submit {
    margin-bottom: 3%;
  }

  input.enter {
    scale: 120%;
    background-color: #5e5022;
    color: #fac823;
    margin-bottom: 15px;
  }

</style>

<div class="backdrop rounded-4 danger">
  <div class="container-fluid text-center">
    <p class="lead title"> Sign up for a </p>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :floating) do |f| %>
    <div class="container-fluid text-align-left" id="radioTypeForm">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="buyerbutton" value="b" checked>
        <label class="form-check-label" for="buyerbutton">
          Buyer Account
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="sellerbutton" value="s">
        <label class="form-check-label" for="sellerbutton">
          Seller Account
        </label>
      </div>
      <input type="hidden" id="user_account_type" name="user[account_type]" value="">
    </div>
    
    <div class="field">
      <%= f.text_field :firstname, label: "First Name", autofocus: true, autocomplete: "given-name",
          control_class: "form-control", placeholder: "Mister", wrapper: {class: 'form-floating mb-3'}%>
    </div>

    <div class="field">
      <%= f.text_field :lastname, label: "Last Name", autocomplete: "family-name", control_class: "form-control", placeholder: "Business", wrapper: {class: 'form-floating mb-3'}%>
    </div>

    
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", control_class: "form-control", placeholder: "name@example.com", wrapper: {class: 'form-floating mb-3'}%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", control_class: "form-control", placeholder: "password", wrapper: {class: 'form-floating mb-3'} %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", control_class: "form-control", placeholder: "password", wrapper: {class: 'form-floating mb-3'} %>
    </div>
    
    <div class="actions">
      <%= f.submit  "Sign up", class: "btn btn-outline-warning enter" %>
    </div>

    <p class="lead">
      Already have an account? 
      <a class="link-warning link-underline-opacity-0 link-underline-opacity-50-hover" id="toggleLink" href="/users/sign_in">Log in</a>
    </p>
    <%end%>
  </div>
</div>

<script>
  //deselect any page 
  var i=0
  if(i==0) {
    var rm=document.querySelector('.active');
    rm.classList.remove("active");
  i++
  }

  //select account button
  var acctbtn=document.querySelector(".account-button");
  //console.log(acctbtn);
  acctbtn.classList.add("active");

  //change link color
  document.getElementById("")

    function rearrange(active) {
    children=active.children
      first=children[0]
      console.log(active,children,first)
      active.removeChild(first)
      active.appendChild(first)
  }

  function checkOrientation(parent) {
    return (parent.children[0].nodeName == 'INPUT')
  }
  
  forminputs=document.querySelectorAll(".form-floating")

  //read radio and update hidden input
    function updateTypeForm(type) {
    hideInput=document.getElementById("user_account_type")
    hideInput.value=type
  }
  function getRadioValue(radioDivId) {
    checked=document.querySelector(".form-check :checked")
  }
  document.getElementById("radioTypeForm").addEventListener('click', function(e){
    val=document.querySelector(".form-check :checked").value
    updateTypeForm(val)
  })

  val=document.querySelector(".form-check :checked").value
  updateTypeForm(val)
</script>
